
p {
    font-size: 20px;
    text-align: center;
}

.kotak {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 50px auto;

    transition: 1s;
}

.kotak:hover {

    /* * scale akan memperbesar atau memperkecil element
    value: 2 (2 kali besar) / 0.5 (memperkecil setenganya)

    transform: scale() | scaleX() | scaleY() | scaleZ() */
    
    /* transform: scale(.5, 2); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */


    /* * rotate akan merotasi element 
    value:  45geg (rotasi sebesar 45 derajat searah jarum jam)
            -45deg (rotasi sebesar 45 derajat berlawanan jarum jam)

    transform: rotate() | rotateX() | rotateY(); */
    
    /* transform: rotate(180deg); */
    /* transform: rotate(-180deg); */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */

    /* * skew akan membuat element kotak menjadi jajar genjang
    value: 10deg (menarik elemen 10 derajat)

    transform: skew() | scaleX() | scaleY(); */

    /* transform: skew(20deg); */
    /* transform: skewY(20deg); */

    /* * traslate akan membuat elemen bergerak dari posisi awal
    value: 100px (bergerak ke kiri 100px)

    transform: translate() | translate() | translate() ; */

    /* transform: translate(100px); */
    transform: translate(-100px, 10px);
    /* transform: translateX(100px); */
    /* transform: translateY(100px); */

    /* transform: scale(.5) rotate(360deg); */
}
