div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}

.satu {
    background-color: lightblue;
    padding: 10px;
    border: 5px solid blue;
}

.dua {
    background-color: pink;
    padding: 30px;
    border: 10px dashed coral;
}