/* 
    * grid-area

    menentukan nama area pada item sesuai dengan template yang sudah
    dibuat sebelumya melalui properties grid-template-area
    
    bisa digunakan sebagai sorthand untuk 
    grid-column-start,
    grid-column-end,
    grid-row-start,
    grid-row-end

    .item {
        grid-area: <nama> | <row-start> / <column-start> / <row-end> / <column-ends>;
    }
*/

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 100px auto;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 100px);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.my-area {

    /* grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3; */

    grid-area: 3 / 1 / 4 / 3;
    background-color: aqua;
}
