/* 
    * grid-template
    sorthand untuk mendefinisikan 
    grid-template-rows,
    grid-template-columns,
    grid-template-areas
    
    .container {

        grid-template: <grid-template-rows> | <grid-template-areas> / <grid-template-columns>
    }
    
*/

html,
body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.container {

    width: 80%;
    margin: 50px auto;

    display: grid;

    /* grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: [baris1-mulai] 50px [baris1-ahhir baris2-mulai] 50px [baria2-akhir];
    grid-template-areas:
        'header header header'
        'footer footer footer'
    ; */

    /* grid-template: 50px 50px / 1fr 2fr 3fr; */
    grid-template: [baris1-mulai] 'header header header' 50px [baris1-ahhir baris2-mulai] 'footer footer footer' 50px [baria2-akhir] / 1fr 2fr 3fr;

}

.item {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.item:nth-child(odd) {
    background-color: salmon;
}
